.blog-wrap {
  max-width: 700px;
  margin: 0 auto;
}

.blog-wrap header {
  text-align: center;
}

.blog-wrap img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-date {
  font-size: 0.8rem;
  color: #a9a9a9;
  font-weight: 500;
}

.blog-voltar {
  width: 90px;
  text-decoration: none;
  font-size: 2rem;
  color: #a9a9a9;
  margin-bottom: 2rem;
  display: block;
  transition: .4s ease;
}
.blog-voltar:hover {
  font-size: 2.5rem;
  color: black;
}