.header {
  text-align: center;
}

.header h2 {
  color: #184d7b;
  font-size: 2rem;
}

.header h1 {
  font-size: 3rem;
  color: #1f8db5;
  margin-bottom: 1rem;
}

.header h1 span {
  color: #b0c4de;
}

.header p {
  color: #a9a9a9;
  font-weight: 500;
  margin-bottom: 20px;
}
