@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

button, input {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
}
